table {
    border-collapse: collapse;
}
.inline{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 20px;
}
input, button{
    height: 34px;
}
.inline input, .inline button{
    height: 34px;
    margin-right: 210px;
    margin-left: 200px;
}
/* Responsive Web Design: media query
 (currently not working) */
@media only screen and (max-width: 992px) {
/*@media (max-width: 992px) {*/
    .hscroll {
        overflow-y: scroll;
        white-space: nowrap;
    }
}
.pagination {
    display: block;
}
.pagination a {
    font-weight: bold;
    font-size: 18px;
    color: black;
    float: center;
    padding: 8px 16px;
    text-decoration: none;
    /* border:1px solid black; */
    transition: 0.2s;
    border-radius: 100%;
    /* padding-top=2px; */
}
.pagination a.active {
    background-color: white;
}
/* .pagination a:hover:not(.active) {
        background-color: #e7e7e7; //#50C878;
        border-radius: 50%;
    } */

/* Handle long sel opts: jsfiddle.net/ZTs42/2/ */
.selectboxit-container .selectboxit, .selectboxit-container .selectboxit-options {
    width: 600px; /* Width of the dropdown button */
    border-radius:0;
    max-height:240px;
}

.selectboxit-options .selectboxit-option .selectboxit-option-anchor {
    white-space: normal;
    min-height: 30px;
    height: auto;
}

